.event-listing {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.event-listing-top {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    height: calc((66vw - 3rem ) / 3* .5625)
}

@media screen and (max-width: 1350px) {
    .event-listing-top {
        border-radius: 5px;
        width: 100%;
        overflow: hidden;
        height: calc((66vw - 3rem ) / 2 * .5625)
    }
}

@media screen and (max-width: 960px) {
    .event-listing-top {
        border-radius: 5px;
        width: 100%;
        overflow: hidden;
        height: calc((100vw - 1.5rem ) / 2* .5625)
    }
}

@media screen and (max-width: 600px) {
    .event-listing-top {
        border-radius: 5px;
        width: 100%;
        overflow: hidden;
        height: calc((100vw - 1.5rem ) * .5625)
    }
}

.event-listing-top img {
    object-fit: cover;
    height: 100%;
}


.event-listing-middle {
    box-sizing: border-box;
    background-color: #FFF;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 1.5rem;
    
}
.event-listing-bottom {
    padding: 1.5rem 0;
    box-sizing: border-box;
    position: relative;
}

.event-title {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 1.25rem;
    color: #57606f;
}

.event-description {
    margin: 0;
    font-weight: 400;
    font-size: 1.05rem;
    padding: .5rem 0 0 0;
    color: #57606f;
}

.event-bottom-item {
    color: #a4b0be;
    font-weight: 500;
    font-size: .78rem;
}

.event-bottom-item .flex-row {
    margin: 0 2rem 0 0;
}

.event-bottom-item .flex-row > span {
    margin-left: .5rem;
}