.profile {
    padding: 3rem;
}
h4.sub {
    color: #747d8c;
}

.profile-header {
    padding: .75rem 3rem;
    width: 100%;
    border-bottom: 1px solid #ced6e0;
}

.profile-content {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media all and (max-width: 960px) {
    .profile-content {
        grid-template-columns: 1fr;
    }
}

.add-new-event {
    padding: .6rem 1rem;
    background: #2ed573;
    color: #FFF;
    border-radius: 4px;
    font-size: .9rem;
    font-weight: 500;
    display: inline-flex;
    border: none;
    transition: box-shadow .345s ease;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0);
}

.add-new-event:hover {
    box-shadow: 0 0 14px rgba(46, 213, 115,.4);   
}

.profile-bubble h4 {
    color: #747d8c;
}