.app-layout {
    display: grid;
    grid-template-columns: 1fr;
}

.layout-app-content {
    display: flex;
    flex-direction: column;
    background: #FFF;
}

.layout-header-right .header-navigation {
    height: 50px;
    width: 100%;
    border-top: 1px solid #f1f2f6;
}

.layout-content {
    padding: 0 0;
}

.layout-content-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 100px);
}

.text-white {
    color: #FFF;
}