html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App {
  min-height: 100vh;
  width: 100%;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  display: block;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  display: block;
}

.img-block {
  display: block;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row.justify-between {
  justify-content: space-between;
}

.flex-row.justify-start {
  justify-content: flex-start;
}

.flex-row.justify-end {
  justify-content: flex-end;
}

.flex-row.justify-center {
  justify-content: center;
}

.width-100 {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}


/**********/
/**Inputs**/
/**********/

.input-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.input-container.col-span-6 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.input-container label {
  font-size: .88rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

input[type="text"],
textarea {
  outline: none;
  background: #FFF;
  border: 1px solid #dfe4ea;
  border-radius: 4px;
  padding: .75rem .75rem;
  font-size: 1rem;
  transition: .345s ease border-color;
  font-weight: 500;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #3742fa;
  transition: .345s ease border-color;
}

textarea {
  height: 150px;
  resize: none;
}