html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Heebo', sans-serif;
}
* {
  outline: none;
}

* > * {
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  width: 100%;
}

h1,h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  display: block;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  display: block;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.img-block {
  display: block;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row.justify-between {
  justify-content: space-between;
}

.flex-row.justify-start {
  justify-content: flex-start;
}

.flex-row.justify-end {
  justify-content: flex-end;
}

.flex-row.justify-center {
  justify-content: center;
}

.width-100 {
  width: 100%;
}

.flex-1 {
  flex: 1;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}


/**********/
/**Inputs**/
/**********/

.input-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  position: relative;
}

.input-container.col-span-6 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.input-container label {
  font-size: .88rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 0;
}

input[type="text"],
input,
textarea {
  outline: none;
  background: #FFF;
  border: 1px solid #dfe4ea;
  border-radius: 4px;
  padding: .75rem .75rem;
  font-size: 1rem;
  transition: .345s ease border-color;
  font-weight: 500;
  position: relative;
}

input[type="text"]:focus,
textarea:focus {
  border-color: #3742fa;
  transition: .345s ease border-color;
}

textarea {
  height: 150px;
  resize: none;
}

button {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:disabled,
button[disabled]{
  background: #747d8c !important;
  cursor: not-allowed;
}

.img-block {
  width: 100%;
  display: block;
}



/*************/
/*Text Colors*/
/*************/

.text-grey {
  color: #747d8c;
}

.text-blue {
  color: #3742fa;  
}

.text-green {
  color: #2ed573;
}

.text-white {
  color: #FFF;
}

.text-white {
  color: #2f3542;
}

.text-bold {
  font-weight: 700;
}

.text-normal {
  font-weight: 500;
}

.text-light {
  font-weight: 400;
}

/*********/
/*Spacing*/
/*********/

/*Padding*/

.padding-3-rem {
  padding: 3rem;
}

.padding-1-rem {
  padding: 1rem;
}

.padding-half-rem {
  padding: .5rem;
}

/*Padding Top*/

.padding-top-3-rem {
  padding-top: 3rem;
}

.padding-top-1-rem {
  padding-top: 1rem;
}

.padding-top-half-rem {
  padding-top: .5rem;
}

/*Padding Bottom*/

.padding-bottom-3-rem {
  padding-bottom: 3rem;
}

.padding-bottom-1-rem {
  padding-bottom: 1rem;
}

.padding-bottom-half-rem {
  padding-bottom: .5rem;
}

/*Margin*/

.margin-3-rem {
  margin: 3rem;
}

.margin-1-rem {
  margin: 1rem;
}

.margin-half-rem {
  margin: .5rem;
}