.main-list-container {
    display: flex;
    height: calc(100vh - 75px);
}

@media all and (max-width: 960px) {
    .main-list-container {
        height: calc(100vh - 150px);
    }
}

#map {
    width: 100%;
    height: 100%;
}

.event-map-main {
    flex: 0 0 33.33333%;
    flex-grow: 1;
}

@media all and (max-width: 960px) {
    .event-map-main {
        display: none;
    }
}

.main-list {
    padding: 3rem 3rem;
    overflow-y: scroll;
    flex: 0 0 66.666666%;
}

@media all and (max-width: 960px) {
    .main-list {
        padding: 1.5rem;
        padding-bottom: 10rem;
        flex: 0 0 100%;
    }
}

.main-list h4 {
    margin-bottom: 1.5rem;
    color: #57606f;
}

.event-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
}

@media screen and (max-width: 1350px) {
    .event-list {
        grid-template-columns: 1fr 1fr;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 600px) {
    .event-list {
        grid-template-columns: 1fr;
    }
}
