.main-list-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: calc(100vh - 100px);
}

#map {
    width: 100%;
    height: 100%;
}

.main-list {
    padding: 3rem 3rem;
    overflow-y: scroll;
}

.main-list h4 {
    margin-bottom: 1.5rem;
    color: #57606f;
}

.event-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: 2rem;
}
